<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd "
	>
	<!-- 
	default-init-method="init" default-destroy-method="destroy"
	
	initialization for all init, destroy method declaration system in above
	Another way is to java based no need to to initialize in here
	-->
<!-- 	<context:annotation-config /> -->

	<!-- <bean id="studentdao" class="com.example.BeanLifeCycle.StudentDAO" 
		init-method="init" destroy-method="destroy"> -->

<!-- 	testing hello class purposes
       <bean id="studentdao" class="com.example.BeanLifeCycle.StudentDAO">

		<property name="driver" value="com.mysql.cj.jdbc.Driver" />

		<property name="url"
			value="jdbc:mysql://localhost:3306/Student_Management?useSSL=false" />

		<property name="username" value="root" />

		<property name="password" value="Ammajan@0011" />


	</bean> -->

	<!-- <bean id="hello" class="com.example.BeanLifeCycle.Hello" init-method="init" 
		destroy-method="destroy" /> -->
		
		<bean id="hello" class="com.example.BeanLifeCycle.Hello"/>

</beans>