<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd ">


<!--If we don't use dynamic method, we have to add value annotation in java class like @Value("Mahmuda Akter")-->
	<context:property-placeholder location="classpath:Student-Info-Properties"/>
	
	<context:annotation-config/>
	
	<bean id="student" class="com.example.SpringAnnotation.Student">

	</bean>


	<!-- For the dynamic purposes like Student-Info-Properties -->
	
<!-- 	<context:property-placeholder location="classpath:Student-Info-Properties"/>
	
	<bean id="student" class="com.example.SpringAnnotation.Student">
		<property name="name" value="${student.name}"></property>
		<property name="interestedCourse"
			value="${student.interestedCourse}"></property>
		<property name="hobby" value="${student.hobby}"></property>

	</bean> -->


	<!-- If we don't use Student-Info-Properties -->

	<!-- <context:annotation-config /> <bean id="student" class="com.example.SpringAnnotation.Student"> 
		<property name="name" value="Mahbubur Rahman"></property> <property name="interestedCourse" 
		value="Java EE"></property> <property name="hobby" value="Programming..."></property> 
		</bean> -->


</beans>