@charset "UTF-8";

h1 {
	color: red;
}

body {
	background:
		url("/Mangement_Student/URLToReachResourcesFolder/images/ShowStudentBack.jpg")
}

.myFonts {
	font-size: 20 px;
	font-family: Monaco;
}
/* 
.button {
	outline: 0;
	grid-gap: 8px;
	align-items: center;
	background: 0 0;
	border: 1px solid #000;
	border-radius: 4px;
	cursor: pointer;
	display: inline-flex;
	flex-shrink: 0;
	font-size: 16px;
	gap: 8px;
	justify-content: center;
	line-height: 1.5;
	overflow: hidden;
	padding: 4px 16px;
	text-decoration: none;
	text-overflow: ellipsis;
	transition: all .14s ease-out;
	white-space: nowrap;
}

.button:hover {
	box-shadow: 4px 4px 0 #000;
	transform: translate(-4px, -4px);
}

.button:focus-visible {
	outline-offset: 1px;
} */