<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd ">

	<!-- inner based dependency -->
<!-- 	<bean id="student" class="com.practice.DI.OT.Student">

		<property name="id" value="101"></property>
		<property name="mathCheat">
			<bean class="com.practice.DI.OT.MathCheat">
			</bean>
		</property>

	</bean>

	<bean id="anotherStudent"
		class="com.practice.DI.OT.AnotherStudent">
		<property name="cheat">
			<bean class="com.practice.DI.OT.MathCheat">
			</bean>
		</property>
	</bean> -->

	<!-- for light weighting apk instead of creating two beans we can simplify 
		it which is called ref attribute -->

	<bean id="mathCheatObj" class="com.practice.DI.OT.MathCheat">
	</bean>

	<bean id="student" class="com.practice.DI.OT.Student">
		<property name="id" value="101"></property>
		<property name="mathCheat" ref="mathCheatObj" />
	</bean>

	<bean id="anotherStudent"
		class="com.practice.DI.OT.AnotherStudent">
		<property name="cheat" ref="mathCheatObj" />
	</bean>

</beans>